USE [master]
GO
/****** Object:  Database [JobSearch]    Script Date: 12/18/2023 8:45:16 AM ******/
CREATE DATABASE [JobSearch]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JobSearch', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.TINPHONG\MSSQL\DATA\JobSearch.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JobSearch_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.TINPHONG\MSSQL\DATA\JobSearch_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JobSearch].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JobSearch]
GO
/****** Object:  Table [dbo].[ApplyJobs]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplyJobs](
	[UserId] [int] NOT NULL,
	[PostId] [int] NOT NULL,
	[File] [varchar](100) NOT NULL,
	[SelfIntroduction] [nvarchar](500) NULL,
	[IsChecked] [bit] NOT NULL,
	[ApplyDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateDate] [date] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AreaRecruitment]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreaRecruitment](
	[PostId] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PostId] ASC,
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authorization]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authorization](
	[UserId] [int] NOT NULL,
	[PageLayoutId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[PageLayoutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateDate] [date] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BranchRecruitment]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BranchRecruitment](
	[PostId] [int] NOT NULL,
	[BranchId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PostId] ASC,
	[BranchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CandidateCv]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateCv](
	[File] [varchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[UploadDate] [date] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[File] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Company]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](80) NOT NULL,
	[Nation] [nvarchar](50) NOT NULL,
	[Field] [nvarchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[EmployeeAmount] [int] NOT NULL,
	[Logo] [varchar](500) NULL,
	[Cover] [varchar](500) NULL,
	[Website] [varchar](30) NOT NULL,
	[File] [varchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateDate] [date] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Experience]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Experience](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateDate] [date] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobProfile]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobProfile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BranchId] [int] NULL,
	[EducationId] [int] NULL,
	[TitleId] [int] NULL,
	[WorkTypeId] [int] NULL,
	[SalaryId] [int] NULL,
	[ExperienceId] [int] NULL,
	[SkillDescription] [nvarchar](500) NULL,
	[JobWish] [nvarchar](500) NULL,
	[IsShared] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Package]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Package](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PurchasePostBudget] [money] NOT NULL,
	[ProfileSearchAmount] [int] NOT NULL,
	[PostShowDayAmount] [int] NOT NULL,
	[UseDayAmount] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[CreateDate] [date] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PageLayout]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PageLayout](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Route] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[RecruitAmount] [int] NOT NULL,
	[EducationId] [int] NOT NULL,
	[TitleId] [int] NOT NULL,
	[WorkTypeId] [int] NOT NULL,
	[SalaryId] [int] NOT NULL,
	[ExperienceId] [int] NOT NULL,
	[RecruitDetail] [nvarchar](500) NOT NULL,
	[Requirement] [nvarchar](500) NOT NULL,
	[Right] [nvarchar](500) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[ApplyEndDate] [date] NOT NULL,
	[PostPriorityId] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[UploadDate] [date] NOT NULL,
	[UpdateAt] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK__Post__3214EC07C2080C12] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostPackages]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostPackages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostId] [int] NOT NULL,
	[PurchasedPackageId] [int] NOT NULL,
	[HotWeight] [float] NOT NULL,
	[StartDate] [date] NOT NULL,
	[ExpiredDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostPriority]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostPriority](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchasedPackage]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchasedPackage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PackageId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[PurchasedDate] [date] NOT NULL,
	[StartDate] [date] NULL,
	[ExpiredDate] [date] NULL,
	[Image] [varchar](100) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateDate] [date] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Title]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Title](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateDate] [date] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[Gender] [bit] NOT NULL,
	[PhoneNumber] [varchar](10) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[BirthDate] [date] NULL,
	[Address] [nvarchar](80) NULL,
	[Avatar] [varchar](500) NULL,
	[Account] [varchar](30) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkType]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreateDate] [date] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ApplyJobs] ([UserId], [PostId], [File], [SelfIntroduction], [IsChecked], [ApplyDate]) VALUES (7, 1, N'593c2ab6-835e-4dca-bddc-ae62742dc326', N'Tôi là Châu 1', 1, CAST(N'2023-10-26' AS Date))
INSERT [dbo].[ApplyJobs] ([UserId], [PostId], [File], [SelfIntroduction], [IsChecked], [ApplyDate]) VALUES (7, 2, N'c6237360-aa02-4b3f-b8a4-c300a42b0a4a', N'Tôi là Châu 2', 0, CAST(N'2023-10-28' AS Date))
INSERT [dbo].[ApplyJobs] ([UserId], [PostId], [File], [SelfIntroduction], [IsChecked], [ApplyDate]) VALUES (7, 17, N'5fb0b369-9144-4c1f-971a-61aa6a318f02', N'Tôi là Phong', 1, CAST(N'2023-12-16' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Area] ON 

INSERT [dbo].[Area] ([Id], [Name], [CreateDate], [UserId]) VALUES (1, N'TP. Hồ Chí Minh', CAST(N'2023-10-14' AS Date), 5)
INSERT [dbo].[Area] ([Id], [Name], [CreateDate], [UserId]) VALUES (2, N'Hà Nội', CAST(N'2023-10-14' AS Date), 5)
INSERT [dbo].[Area] ([Id], [Name], [CreateDate], [UserId]) VALUES (3, N'Đà Nẵng', CAST(N'2023-10-14' AS Date), 5)
SET IDENTITY_INSERT [dbo].[Area] OFF
GO
INSERT [dbo].[AreaRecruitment] ([PostId], [AreaId]) VALUES (1, 1)
INSERT [dbo].[AreaRecruitment] ([PostId], [AreaId]) VALUES (1, 2)
INSERT [dbo].[AreaRecruitment] ([PostId], [AreaId]) VALUES (1, 3)
GO
INSERT [dbo].[Authorization] ([UserId], [PageLayoutId]) VALUES (5, 1)
INSERT [dbo].[Authorization] ([UserId], [PageLayoutId]) VALUES (5, 2)
INSERT [dbo].[Authorization] ([UserId], [PageLayoutId]) VALUES (5, 3)
GO
SET IDENTITY_INSERT [dbo].[Branch] ON 

INSERT [dbo].[Branch] ([Id], [Name], [CreateDate], [UserId]) VALUES (1, N'Y Khoa', CAST(N'2023-10-14' AS Date), 5)
INSERT [dbo].[Branch] ([Id], [Name], [CreateDate], [UserId]) VALUES (2, N'Công nghệ thông tin', CAST(N'2023-10-14' AS Date), 5)
INSERT [dbo].[Branch] ([Id], [Name], [CreateDate], [UserId]) VALUES (3, N'Quản trị kinh doanh', CAST(N'2023-10-14' AS Date), 5)
SET IDENTITY_INSERT [dbo].[Branch] OFF
GO
INSERT [dbo].[BranchRecruitment] ([PostId], [BranchId]) VALUES (1, 1)
INSERT [dbo].[BranchRecruitment] ([PostId], [BranchId]) VALUES (1, 2)
INSERT [dbo].[BranchRecruitment] ([PostId], [BranchId]) VALUES (2, 1)
GO
INSERT [dbo].[CandidateCv] ([File], [Name], [UploadDate], [UserId]) VALUES (N'07f46d5f-f43c-4bc6-ab92-86a405242015', N'CV_1.pdf', CAST(N'2023-12-08' AS Date), 7)
INSERT [dbo].[CandidateCv] ([File], [Name], [UploadDate], [UserId]) VALUES (N'285700d6-75a2-483b-b939-95b375548204', N'CV_5.pdf', CAST(N'2023-12-08' AS Date), 8)
INSERT [dbo].[CandidateCv] ([File], [Name], [UploadDate], [UserId]) VALUES (N'390595f3-67a9-4dab-bd05-2a4bd00bbf6a', N'CV_2.pdf', CAST(N'2023-12-08' AS Date), 7)
GO
SET IDENTITY_INSERT [dbo].[Company] ON 

SET IDENTITY_INSERT [dbo].[Company] OFF
GO
SET IDENTITY_INSERT [dbo].[Education] ON 

INSERT [dbo].[Education] ([Id], [Name], [CreateDate], [UserId]) VALUES (1, N'Đại học', CAST(N'2023-10-14' AS Date), 5)
INSERT [dbo].[Education] ([Id], [Name], [CreateDate], [UserId]) VALUES (2, N'Trung học', CAST(N'2023-10-14' AS Date), 5)
INSERT [dbo].[Education] ([Id], [Name], [CreateDate], [UserId]) VALUES (3, N'Cao đẳng', CAST(N'2023-10-14' AS Date), 5)
SET IDENTITY_INSERT [dbo].[Education] OFF
GO
SET IDENTITY_INSERT [dbo].[Experience] ON 

INSERT [dbo].[Experience] ([Id], [Name], [CreateDate], [UserId]) VALUES (1, N'Chưa có kinh nghiệm', CAST(N'2023-11-07' AS Date), 5)
INSERT [dbo].[Experience] ([Id], [Name], [CreateDate], [UserId]) VALUES (2, N'Dưới 3 tháng', CAST(N'2023-11-12' AS Date), 5)
INSERT [dbo].[Experience] ([Id], [Name], [CreateDate], [UserId]) VALUES (3, N'Dưới 6 tháng', CAST(N'2023-11-12' AS Date), 5)
SET IDENTITY_INSERT [dbo].[Experience] OFF
GO
SET IDENTITY_INSERT [dbo].[JobProfile] ON 

INSERT [dbo].[JobProfile] ([Id], [BranchId], [EducationId], [TitleId], [WorkTypeId], [SalaryId], [ExperienceId], [SkillDescription], [JobWish], [IsShared], [UserId]) VALUES (1, 1, 1004, 1010, 1, 1, 1, N'Ổn định, tốt', N'Lương cao, môi trường làm việc lành mạnh', 1, 7)
INSERT [dbo].[JobProfile] ([Id], [BranchId], [EducationId], [TitleId], [WorkTypeId], [SalaryId], [ExperienceId], [SkillDescription], [JobWish], [IsShared], [UserId]) VALUES (3, 3, 3, 3, 3, 2, 3, N'Ổn định, tốt', N'Lương cao, môi trường làm việc lành mạnh', 1, 8)
INSERT [dbo].[JobProfile] ([Id], [BranchId], [EducationId], [TitleId], [WorkTypeId], [SalaryId], [ExperienceId], [SkillDescription], [JobWish], [IsShared], [UserId]) VALUES (6, 12, 1, 1006, 1002, 6, 6, N'Ổn định, tốt', N'Lương cao, môi trường làm việc lành mạnh', 1, 1018)
SET IDENTITY_INSERT [dbo].[JobProfile] OFF
GO
SET IDENTITY_INSERT [dbo].[Package] ON 

INSERT [dbo].[Package] ([Id], [Name], [PurchasePostBudget], [ProfileSearchAmount], [PostShowDayAmount], [UseDayAmount], [Status], [CreateDate], [UserId]) VALUES (1, N'Thường', 1000000.0000, 50, 30, 90, 1, CAST(N'2023-10-16' AS Date), 5)
INSERT [dbo].[Package] ([Id], [Name], [PurchasePostBudget], [ProfileSearchAmount], [PostShowDayAmount], [UseDayAmount], [Status], [CreateDate], [UserId]) VALUES (2, N'Cao cấp', 2500000.0000, 200, 90, 180, 1, CAST(N'2023-10-16' AS Date), 5)
INSERT [dbo].[Package] ([Id], [Name], [PurchasePostBudget], [ProfileSearchAmount], [PostShowDayAmount], [UseDayAmount], [Status], [CreateDate], [UserId]) VALUES (3, N'Siêu cao cấp', 10000000.0000, 500, 180, 360, 1, CAST(N'2023-11-13' AS Date), 5)
SET IDENTITY_INSERT [dbo].[Package] OFF
GO
SET IDENTITY_INSERT [dbo].[PageLayout] ON 

INSERT [dbo].[PageLayout] ([Id], [Name], [Route]) VALUES (1, N'Phân quyền', N'authorization')
INSERT [dbo].[PageLayout] ([Id], [Name], [Route]) VALUES (2, N'Công ty', N'company')
INSERT [dbo].[PageLayout] ([Id], [Name], [Route]) VALUES (3, N'Bài tuyển dụng', N'post')
SET IDENTITY_INSERT [dbo].[PageLayout] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[PostPackages] ON 

INSERT [dbo].[PostPackages] ([Id], [PostId], [PurchasedPackageId], [HotWeight], [StartDate], [ExpiredDate]) VALUES (1, 1, 1, 0.5, CAST(N'2023-10-14' AS Date), CAST(N'2023-11-03' AS Date))
INSERT [dbo].[PostPackages] ([Id], [PostId], [PurchasedPackageId], [HotWeight], [StartDate], [ExpiredDate]) VALUES (2, 1, 2, 0.5, CAST(N'2023-11-22' AS Date), CAST(N'2024-02-20' AS Date))
INSERT [dbo].[PostPackages] ([Id], [PostId], [PurchasedPackageId], [HotWeight], [StartDate], [ExpiredDate]) VALUES (3, 2, 3, 0.5, CAST(N'2023-11-14' AS Date), CAST(N'2023-12-14' AS Date))
SET IDENTITY_INSERT [dbo].[PostPackages] OFF
GO
SET IDENTITY_INSERT [dbo].[PostPriority] ON 

INSERT [dbo].[PostPriority] ([Id], [Name]) VALUES (1, N'Thông thường')
INSERT [dbo].[PostPriority] ([Id], [Name]) VALUES (2, N'Nổi bật')
INSERT [dbo].[PostPriority] ([Id], [Name]) VALUES (3, N'Gấp')
SET IDENTITY_INSERT [dbo].[PostPriority] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchasedPackage] ON 

INSERT [dbo].[PurchasedPackage] ([Id], [PackageId], [UserId], [PurchasedDate], [StartDate], [ExpiredDate], [Image], [Status]) VALUES (1, 1, 1, CAST(N'2023-10-05' AS Date), CAST(N'2023-10-08' AS Date), CAST(N'2024-01-06' AS Date), N'3690ca68-6c75-4163-84d7-831327da229c', 1)
INSERT [dbo].[PurchasedPackage] ([Id], [PackageId], [UserId], [PurchasedDate], [StartDate], [ExpiredDate], [Image], [Status]) VALUES (2, 3, 1, CAST(N'2023-10-06' AS Date), CAST(N'2023-10-08' AS Date), CAST(N'2024-10-02' AS Date), N'3690ca68-6c75-4163-84d7-831327da229c', 1)
INSERT [dbo].[PurchasedPackage] ([Id], [PackageId], [UserId], [PurchasedDate], [StartDate], [ExpiredDate], [Image], [Status]) VALUES (3, 1, 2, CAST(N'2023-11-02' AS Date), CAST(N'2023-11-03' AS Date), CAST(N'2024-01-01' AS Date), N'3690ca68-6c75-4163-84d7-831327da229c', 1)
SET IDENTITY_INSERT [dbo].[PurchasedPackage] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Quản trị viên')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Nhà tuyển dụng')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Ứng viên')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Salary] ON 

INSERT [dbo].[Salary] ([Id], [Name], [CreateDate], [UserId]) VALUES (1, N'Tự thỏa thuận', CAST(N'2023-11-07' AS Date), 5)
INSERT [dbo].[Salary] ([Id], [Name], [CreateDate], [UserId]) VALUES (2, N'Dưới 10 triệu', CAST(N'2023-11-07' AS Date), 5)
INSERT [dbo].[Salary] ([Id], [Name], [CreateDate], [UserId]) VALUES (3, N'Từ 10 - 15 triệu', CAST(N'2023-12-07' AS Date), 5)
SET IDENTITY_INSERT [dbo].[Salary] OFF
GO
SET IDENTITY_INSERT [dbo].[Title] ON 

INSERT [dbo].[Title] ([Id], [Name], [CreateDate], [UserId]) VALUES (1, N'Nhân viên trưởng', CAST(N'2023-10-14' AS Date), 5)
INSERT [dbo].[Title] ([Id], [Name], [CreateDate], [UserId]) VALUES (2, N'Trưởng phòng', CAST(N'2023-10-14' AS Date), 5)
INSERT [dbo].[Title] ([Id], [Name], [CreateDate], [UserId]) VALUES (3, N'Quản lý', CAST(N'2023-10-14' AS Date), 5)
SET IDENTITY_INSERT [dbo].[Title] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [LastName], [FirstName], [Gender], [PhoneNumber], [Email], [BirthDate], [Address], [Avatar], [Account], [Password], [RoleId], [Status]) VALUES (1, N'Huỳnh Trọng', N'Thưa', 0, N'0987654321', N'htt@gmail.com', CAST(N'1975-02-10' AS Date), N'123 ABC', N'63cc28f0-0f5d-442a-8c23-7f792b93a799', N'htt', N'$2b$10$7bD4FcuMeT7luD8tBe7dQeR5409Dvz40e1PA7UvFY5pMFFGHTjbCG', 2, 1)
INSERT [dbo].[User] ([Id], [LastName], [FirstName], [Gender], [PhoneNumber], [Email], [BirthDate], [Address], [Avatar], [Account], [Password], [RoleId], [Status]) VALUES (2, N'Nguyễn Thị Tố', N'Uyên', 1, N'0988888888', N'ntty@gmail.com', NULL, NULL, N'46e33810-2250-49f1-b617-8434ea62c164', N'ntty', N'$2b$10$2Xa2Z58yrHBWA2i7Pp/H1.r7QWdHNJe86T1GmlbpCCtirOUjV2Hcm', 2, 1)
INSERT [dbo].[User] ([Id], [LastName], [FirstName], [Gender], [PhoneNumber], [Email], [BirthDate], [Address], [Avatar], [Account], [Password], [RoleId], [Status]) VALUES (3, N'Trần Nhân', N'Lực', 0, N'0909090909', N'tnl@gmail.com', NULL, NULL, NULL, N'tnl', N'$2b$10$2Xa2Z58yrHBWA2i7Pp/H1.r7QWdHNJe86T1GmlbpCCtirOUjV2Hcm', 2, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkType] ON 

INSERT [dbo].[WorkType] ([Id], [Name], [CreateDate], [UserId]) VALUES (1, N'Toàn thời gian', CAST(N'2023-10-14' AS Date), 5)
INSERT [dbo].[WorkType] ([Id], [Name], [CreateDate], [UserId]) VALUES (2, N'Bán thời gian', CAST(N'2023-10-14' AS Date), 5)
INSERT [dbo].[WorkType] ([Id], [Name], [CreateDate], [UserId]) VALUES (3, N'Thời vụ', CAST(N'2023-10-14' AS Date), 5)
SET IDENTITY_INSERT [dbo].[WorkType] OFF
GO
/****** Object:  Index [UQ__Company__1788CC4DC5428708]    Script Date: 12/18/2023 8:45:16 AM ******/
ALTER TABLE [dbo].[Company] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Company__A9D1053439BB271E]    Script Date: 12/18/2023 8:45:16 AM ******/
ALTER TABLE [dbo].[Company] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [UQ__JobProfi__1788CC4D318539FF]    Script Date: 12/18/2023 8:45:16 AM ******/
ALTER TABLE [dbo].[JobProfile] ADD UNIQUE NONCLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__85FB4E3831F284FA]    Script Date: 12/18/2023 8:45:16 AM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D1053480C8A7FD]    Script Date: 12/18/2023 8:45:16 AM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__B0C3AC463FD19A48]    Script Date: 12/18/2023 8:45:16 AM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApplyJobs]  WITH CHECK ADD  CONSTRAINT [FK_ApplyJobs_Post] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[ApplyJobs] CHECK CONSTRAINT [FK_ApplyJobs_Post]
GO
ALTER TABLE [dbo].[ApplyJobs]  WITH CHECK ADD  CONSTRAINT [FK_ApplyJobs_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[ApplyJobs] CHECK CONSTRAINT [FK_ApplyJobs_User]
GO
ALTER TABLE [dbo].[Area]  WITH CHECK ADD  CONSTRAINT [FK_Area_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Area] CHECK CONSTRAINT [FK_Area_User]
GO
ALTER TABLE [dbo].[AreaRecruitment]  WITH CHECK ADD  CONSTRAINT [FK_AreaRecruitment_Area] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[AreaRecruitment] CHECK CONSTRAINT [FK_AreaRecruitment_Area]
GO
ALTER TABLE [dbo].[AreaRecruitment]  WITH CHECK ADD  CONSTRAINT [FK_AreaRecruitment_Post] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[AreaRecruitment] CHECK CONSTRAINT [FK_AreaRecruitment_Post]
GO
ALTER TABLE [dbo].[Authorization]  WITH CHECK ADD  CONSTRAINT [FK_Authorization_PageLayout] FOREIGN KEY([PageLayoutId])
REFERENCES [dbo].[PageLayout] ([Id])
GO
ALTER TABLE [dbo].[Authorization] CHECK CONSTRAINT [FK_Authorization_PageLayout]
GO
ALTER TABLE [dbo].[Authorization]  WITH CHECK ADD  CONSTRAINT [FK_Authorization_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Authorization] CHECK CONSTRAINT [FK_Authorization_User]
GO
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FK_Branch_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FK_Branch_User]
GO
ALTER TABLE [dbo].[BranchRecruitment]  WITH CHECK ADD  CONSTRAINT [FK_BranchRecruitment_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([Id])
GO
ALTER TABLE [dbo].[BranchRecruitment] CHECK CONSTRAINT [FK_BranchRecruitment_Branch]
GO
ALTER TABLE [dbo].[BranchRecruitment]  WITH CHECK ADD  CONSTRAINT [FK_BranchRecruitment_Post] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[BranchRecruitment] CHECK CONSTRAINT [FK_BranchRecruitment_Post]
GO
ALTER TABLE [dbo].[CandidateCv]  WITH CHECK ADD  CONSTRAINT [FK_CandidareCv_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[CandidateCv] CHECK CONSTRAINT [FK_CandidareCv_User]
GO
ALTER TABLE [dbo].[Company]  WITH CHECK ADD  CONSTRAINT [FK_Company_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Company] CHECK CONSTRAINT [FK_Company_User]
GO
ALTER TABLE [dbo].[Education]  WITH CHECK ADD  CONSTRAINT [FK_Education_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Education] CHECK CONSTRAINT [FK_Education_User]
GO
ALTER TABLE [dbo].[Experience]  WITH CHECK ADD  CONSTRAINT [FK_Experience_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Experience] CHECK CONSTRAINT [FK_Experience_User]
GO
ALTER TABLE [dbo].[JobProfile]  WITH CHECK ADD  CONSTRAINT [FK_JobProfile_Branch] FOREIGN KEY([BranchId])
REFERENCES [dbo].[Branch] ([Id])
GO
ALTER TABLE [dbo].[JobProfile] CHECK CONSTRAINT [FK_JobProfile_Branch]
GO
ALTER TABLE [dbo].[JobProfile]  WITH CHECK ADD  CONSTRAINT [FK_JobProfile_Education] FOREIGN KEY([EducationId])
REFERENCES [dbo].[Education] ([Id])
GO
ALTER TABLE [dbo].[JobProfile] CHECK CONSTRAINT [FK_JobProfile_Education]
GO
ALTER TABLE [dbo].[JobProfile]  WITH CHECK ADD  CONSTRAINT [FK_JobProfile_Experience] FOREIGN KEY([ExperienceId])
REFERENCES [dbo].[Experience] ([Id])
GO
ALTER TABLE [dbo].[JobProfile] CHECK CONSTRAINT [FK_JobProfile_Experience]
GO
ALTER TABLE [dbo].[JobProfile]  WITH CHECK ADD  CONSTRAINT [FK_JobProfile_Salary] FOREIGN KEY([SalaryId])
REFERENCES [dbo].[Salary] ([Id])
GO
ALTER TABLE [dbo].[JobProfile] CHECK CONSTRAINT [FK_JobProfile_Salary]
GO
ALTER TABLE [dbo].[JobProfile]  WITH CHECK ADD  CONSTRAINT [FK_JobProfile_Title] FOREIGN KEY([TitleId])
REFERENCES [dbo].[Title] ([Id])
GO
ALTER TABLE [dbo].[JobProfile] CHECK CONSTRAINT [FK_JobProfile_Title]
GO
ALTER TABLE [dbo].[JobProfile]  WITH CHECK ADD  CONSTRAINT [FK_JobProfile_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[JobProfile] CHECK CONSTRAINT [FK_JobProfile_User]
GO
ALTER TABLE [dbo].[JobProfile]  WITH CHECK ADD  CONSTRAINT [FK_JobProfile_WorkType] FOREIGN KEY([WorkTypeId])
REFERENCES [dbo].[WorkType] ([Id])
GO
ALTER TABLE [dbo].[JobProfile] CHECK CONSTRAINT [FK_JobProfile_WorkType]
GO
ALTER TABLE [dbo].[Package]  WITH CHECK ADD  CONSTRAINT [FK_Package_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Package] CHECK CONSTRAINT [FK_Package_User]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Education] FOREIGN KEY([EducationId])
REFERENCES [dbo].[Education] ([Id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Education]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Experience] FOREIGN KEY([ExperienceId])
REFERENCES [dbo].[Experience] ([Id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Experience]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_PostPriority] FOREIGN KEY([PostPriorityId])
REFERENCES [dbo].[PostPriority] ([Id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_PostPriority]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Salary] FOREIGN KEY([SalaryId])
REFERENCES [dbo].[Salary] ([Id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Salary]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_Title] FOREIGN KEY([TitleId])
REFERENCES [dbo].[Title] ([Id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_Title]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_User]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_WorkType] FOREIGN KEY([WorkTypeId])
REFERENCES [dbo].[WorkType] ([Id])
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_WorkType]
GO
ALTER TABLE [dbo].[PostPackages]  WITH CHECK ADD  CONSTRAINT [FK_PostPackages_Post] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([Id])
GO
ALTER TABLE [dbo].[PostPackages] CHECK CONSTRAINT [FK_PostPackages_Post]
GO
ALTER TABLE [dbo].[PostPackages]  WITH CHECK ADD  CONSTRAINT [FK_PostPackages_PurchasedPackage] FOREIGN KEY([PurchasedPackageId])
REFERENCES [dbo].[PurchasedPackage] ([Id])
GO
ALTER TABLE [dbo].[PostPackages] CHECK CONSTRAINT [FK_PostPackages_PurchasedPackage]
GO
ALTER TABLE [dbo].[PurchasedPackage]  WITH CHECK ADD  CONSTRAINT [FK_PurchasedPackage_Package] FOREIGN KEY([PackageId])
REFERENCES [dbo].[Package] ([Id])
GO
ALTER TABLE [dbo].[PurchasedPackage] CHECK CONSTRAINT [FK_PurchasedPackage_Package]
GO
ALTER TABLE [dbo].[PurchasedPackage]  WITH CHECK ADD  CONSTRAINT [FK_PurchasedPackage_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[PurchasedPackage] CHECK CONSTRAINT [FK_PurchasedPackage_User]
GO
ALTER TABLE [dbo].[Salary]  WITH CHECK ADD  CONSTRAINT [FK_Salary_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Salary] CHECK CONSTRAINT [FK_Salary_User]
GO
ALTER TABLE [dbo].[Title]  WITH CHECK ADD  CONSTRAINT [FK_Title_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Title] CHECK CONSTRAINT [FK_Title_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[WorkType]  WITH CHECK ADD  CONSTRAINT [FK_WorkType_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[WorkType] CHECK CONSTRAINT [FK_WorkType_User]
GO
/****** Object:  StoredProcedure [dbo].[APPLICATIONS_BY_COMPANY]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[APPLICATIONS_BY_COMPANY] (@id INT, @year INT)
AS
BEGIN
	CREATE TABLE [CALENDAR] (Month INT)
	DECLARE @MonthCounter INT = 1
	WHILE @MonthCounter <= 12
		BEGIN
			INSERT INTO [CALENDAR] (Month) VALUES (@MonthCounter)
			SET @MonthCounter = @MonthCounter + 1
		END
	SELECT [CALENDAR].Month AS Months, ISNULL(Amount, 0) AS Amount
	FROM [CALENDAR]
	LEFT JOIN
	(
		SELECT MONTH([ApplyJobs].ApplyDate) AS ApplyMonth, COUNT(*) AS Amount
		FROM [ApplyJobs], [Post]
		WHERE [ApplyJobs].PostId = [Post].Id 
		AND [Post].UserId = @id
		AND YEAR([ApplyJobs].ApplyDate) = @year
		GROUP BY MONTH([ApplyJobs].ApplyDate)
	) 
	AS Result ON [CALENDAR].Month = Result.ApplyMonth
	DROP TABLE [CALENDAR]
END
GO
/****** Object:  StoredProcedure [dbo].[APPLICATIONS_BY_YEAR_TOTAL]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[APPLICATIONS_BY_YEAR_TOTAL] (@year INT)
AS
BEGIN
	CREATE TABLE [CALENDAR] (Month INT)
	DECLARE @MonthCounter INT = 1
	WHILE @MonthCounter <= 12
		BEGIN
			INSERT INTO [CALENDAR] (Month) VALUES (@MonthCounter)
			SET @MonthCounter = @MonthCounter + 1
		END
	SELECT [CALENDAR].Month AS Months, ISNULL(Amount, 0) AS Amount
	FROM [CALENDAR]
	LEFT JOIN
	(
		SELECT MONTH([ApplyJobs].ApplyDate) AS ApplyMonth, COUNT(*) AS Amount
		FROM [ApplyJobs]
		WHERE YEAR([ApplyJobs].ApplyDate) = @year
		GROUP BY MONTH([ApplyJobs].ApplyDate)
	) 
	AS Result ON [CALENDAR].Month = Result.ApplyMonth
	DROP TABLE [CALENDAR]
END
GO
/****** Object:  StoredProcedure [dbo].[PAYMENT_BY_COMPANY]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PAYMENT_BY_COMPANY] (@id INT, @year INT)
AS
BEGIN
	CREATE TABLE [CALENDAR] (Month INT)
	DECLARE @MonthCounter INT = 1
	WHILE @MonthCounter <= 12
		BEGIN
			INSERT INTO [CALENDAR] (Month) VALUES (@MonthCounter)
			SET @MonthCounter = @MonthCounter + 1
		END
	SELECT [CALENDAR].Month AS Months, ISNULL(Total, 0) AS Total
	FROM [CALENDAR]
	LEFT JOIN
	(
		SELECT MONTH([PurchasedPackage].PurchasedDate) AS PurchasedDate, SUM(Package.PurchasePostBudget) AS Total
		FROM [PurchasedPackage], [Package]
		WHERE [PurchasedPackage].PackageId = [Package].Id 
		AND [PurchasedPackage].UserId = @id
		AND YEAR([PurchasedPackage].PurchasedDate) = @year
		GROUP BY  MONTH([PurchasedPackage].PurchasedDate)
	) 
	AS Result ON [CALENDAR].Month = Result.PurchasedDate
	DROP TABLE [CALENDAR]
END
GO
/****** Object:  StoredProcedure [dbo].[POSTS_BY_COMPANY]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[POSTS_BY_COMPANY] (@id INT, @year INT)
AS
BEGIN
	CREATE TABLE [CALENDAR] (Month INT)
	DECLARE @MonthCounter INT = 1
	WHILE @MonthCounter <= 12
		BEGIN
			INSERT INTO [CALENDAR] (Month) VALUES (@MonthCounter)
			SET @MonthCounter = @MonthCounter + 1
		END
	SELECT [CALENDAR].Month AS Months, ISNULL(Amount, 0) AS Amount
	FROM [CALENDAR]
	LEFT JOIN
	(
		SELECT MONTH([Post].UploadDate) AS UploadMonth, COUNT(*) AS Amount
		FROM [Post]
		WHERE [Post].UserId = @id
		AND YEAR([Post].UploadDate) = @year
		GROUP BY MONTH([Post].UploadDate)
	) 
	AS Result ON CALENDAR.Month = Result.UploadMonth
	DROP TABLE [CALENDAR]
END
GO
/****** Object:  StoredProcedure [dbo].[POSTS_BY_YEAR_TOTAL]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[POSTS_BY_YEAR_TOTAL] (@year INT)
AS
BEGIN
	CREATE TABLE [CALENDAR] (Month INT)
	DECLARE @MonthCounter INT = 1
	WHILE @MonthCounter <= 12
		BEGIN
			INSERT INTO [CALENDAR] (Month) VALUES (@MonthCounter)
			SET @MonthCounter = @MonthCounter + 1
		END
	SELECT [CALENDAR].Month AS Months, ISNULL(Amount, 0) AS Amount
	FROM [CALENDAR]
	LEFT JOIN
	(
		SELECT MONTH([Post].UploadDate) AS UploadMonth, COUNT(*) AS Amount
		FROM [Post]
		WHERE YEAR([Post].UploadDate) = @year
		GROUP BY MONTH([Post].UploadDate)
	) 
	AS Result ON CALENDAR.Month = Result.UploadMonth
	DROP TABLE [CALENDAR]
END
GO
/****** Object:  StoredProcedure [dbo].[RECOMMENDED_JOBS]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RECOMMENDED_JOBS] (@id INT)
AS
BEGIN	
	SELECT Logo, [Result].Id, Title, SUM(CASE WHEN [PostPackages].PostId = [Result].Id AND
    [PostPackages].ExpiredDate >= GETDATE() THEN [PostPackages].HotWeight ELSE 0 END) AS Weight, 
	Salary, Experience, ApplyEndDate, UploadDate FROM
	(SELECT DISTINCT Logo, [Post].Id, Title, [Salary].Name AS Salary, 
	[Experience].Name AS Experience, ApplyEndDate, UploadDate 
	FROM [Company], [Post], [Salary], [Experience], [BranchRecruitment], [JobProfile], 
	[PostPackages] WHERE [Company].UserId = [Post].UserId 
	AND [Post].SalaryId = [Salary].Id
	AND [Post].ExperienceId = [Experience].Id
	AND [Post].Id = [BranchRecruitment].PostId
	AND [Post].Id = [PostPackages].PostId
	AND [PostPackages].ExpiredDate > GETDATE()
	AND( [BranchRecruitment].BranchId = [JobProfile].BranchId
	OR [Post].EducationId = [JobProfile].EducationId
	OR [Post].TitleId = [JobProfile].TitleId
	OR [Post].WorkTypeId = [JobProfile].WorkTypeId
	OR [Post].SalaryId = [JobProfile].SalaryId
	OR [Post].ExperienceId = [JobProfile].ExperienceId)
	AND [JobProfile].UserId = @id) AS [Result], [PostPackages]
	GROUP BY Logo, [Result].Id, Title, Salary, Experience, ApplyEndDate, UploadDate 
	ORDER BY Weight DESC, UploadDate ASC, Title ASC
END
GO
/****** Object:  StoredProcedure [dbo].[REVENUE_BY_YEAR]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[REVENUE_BY_YEAR] (@year INT)
AS
BEGIN
	CREATE TABLE [CALENDAR] (Month INT)
	DECLARE @MonthCounter INT = 1
	WHILE @MonthCounter <= 12
		BEGIN
			INSERT INTO [CALENDAR] (Month) VALUES (@MonthCounter)
			SET @MonthCounter = @MonthCounter + 1
		END
	SELECT [CALENDAR].Month AS Months, ISNULL(Total, 0) AS Total
	FROM [CALENDAR]
	LEFT JOIN
	(
		SELECT MONTH([PurchasedPackage].PurchasedDate) AS PurchasedDate, SUM(Package.PurchasePostBudget) AS Total
		FROM [PurchasedPackage], [Package]
		WHERE [PurchasedPackage].PackageId = [Package].Id 
		AND YEAR([PurchasedPackage].PurchasedDate) = @year
		GROUP BY  MONTH([PurchasedPackage].PurchasedDate)
	) 
	AS Result ON [CALENDAR].Month = Result.PurchasedDate
	DROP TABLE [CALENDAR]
END
GO
/****** Object:  StoredProcedure [dbo].[TOP_APPLICATION_COMPANY]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TOP_APPLICATION_COMPANY] (@fromDate DATE, @toDate DATE)
AS
BEGIN
	SELECT TOP 10 [Company].Name, COUNT(*) AS Amount 
	FROM [Company], [User], [Post], [ApplyJobs]
	WHERE [Company].UserId = [User].Id
	AND [User].Id = [Post].UserId
	AND [Post].Id = [ApplyJobs].PostId
	AND [ApplyJobs].ApplyDate >= @fromDate AND [ApplyJobs].ApplyDate <= @toDate
	GROUP BY [Company].Name
	ORDER BY Amount DESC, [Company].Name ASC
END
GO
/****** Object:  StoredProcedure [dbo].[TOP_APPLIED_POST_BY_COMPANY]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TOP_APPLIED_POST_BY_COMPANY] (@id INT, @year INT)
AS
BEGIN
	SELECT TOP 10 Id, Title, COUNT([ApplyJobs].PostId) AS Amount
	FROM [Post] LEFT JOIN [ApplyJobs]
	ON [Post].Id = [ApplyJobs].PostId 
	AND YEAR([ApplyJobs].ApplyDate) = @year
	WHERE [Post].UserId = '1'
	GROUP BY Id, Title
	ORDER BY Amount DESC, Title ASC
END
GO
/****** Object:  StoredProcedure [dbo].[TOP_HOT_BRANCH]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[TOP_HOT_BRANCH] (@fromDate DATE, @toDate DATE)
AS
BEGIN
	SELECT TOP 10 [Branch].Name, COUNT(*) AS Amount 
	FROM [Branch], [Post], [BranchRecruitment]
	WHERE [Branch].Id = [BranchRecruitment].BranchId
	AND [BranchRecruitment].PostId = [Post].Id
	AND [Post].UploadDate >= @fromDate AND [Post].UploadDate <= @toDate
	GROUP BY [Branch].Name
	ORDER BY Amount DESC, [Branch].Name ASC
END
GO
/****** Object:  StoredProcedure [dbo].[TOP_PURCHASE_COMPANY]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TOP_PURCHASE_COMPANY] (@fromDate DATE, @toDate DATE)
AS
BEGIN
	SELECT TOP 10 [Company].Name, SUM([Package].PurchasePostBudget) AS Total
	FROM [Company], [User], [PurchasedPackage], [Package]
	WHERE [Company].UserId = [User].Id
	AND [User].Id = [PurchasedPackage].UserId
	AND [PurchasedPackage].PackageId = [Package].Id
	AND [PurchasedPackage].PurchasedDate >= @fromDate AND [PurchasedPackage].PurchasedDate <= @toDate
	GROUP BY [Company].Name
	ORDER BY Total DESC, [Company].Name ASC
END
GO
/****** Object:  StoredProcedure [dbo].[TOP_PURCHASED_PACKAGE]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TOP_PURCHASED_PACKAGE] (@fromDate DATE, @toDate DATE)
AS
BEGIN
	SELECT TOP 10 [Package].Name, SUM([Package].PurchasePostBudget) AS Total
	FROM [PurchasedPackage], [Package]
	WHERE [PurchasedPackage].PackageId = [Package].Id
	AND [PurchasedPackage].PurchasedDate >= @fromDate AND [PurchasedPackage].PurchasedDate <= @toDate
	GROUP BY [Package].Name
	ORDER BY Total DESC, [Package].Name ASC
END
GO
/****** Object:  StoredProcedure [dbo].[TOP_RECRUITMENT_COMPANY]    Script Date: 12/18/2023 8:45:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TOP_RECRUITMENT_COMPANY] (@fromDate DATE, @toDate DATE)
AS
BEGIN
	SELECT TOP 10 [Company].Name, COUNT(*) AS Amount 
	FROM [Company], [User],[Post]
	WHERE [Company].UserId = [User].Id
	AND [User].Id = [Post].UserId
	AND [Post].UploadDate >= @fromDate AND [Post].UploadDate <= @toDate
	GROUP BY [Company].Name
	ORDER BY Amount DESC, [Company].Name ASC
END
GO
USE [master]
GO
